spring:
  application:
    name: photocatalog
  datasource:
    url: 'jdbc:postgresql://localhost:5432/photocatalog'
    username: olga
    password: 'secret'
    hikari:
      connection-timeout: 20000
      minimum-idle: 10
      maximum-pool-size: 30
      idle-timeout: 10000
      max-lifetime: 1000
      auto-commit: true
      schemas: photocatalog
# Настройки Flyway - инструмент для миграций базы данных
  flyway:
    enabled: true # Включает Flyway миграции
    baseline-on-migrate: true # Если в БД нет таблицы flyway_schema_history, Flyway создаст её
    baseline-version: 0 # Начальная версия миграций, 0 означает, что существующая БД считается "базовой линией"
    schemas: photocatalog # Flyway будет работать со схемой photocatalog в PostgreSQL
    locations: classpath:db/migration/photocatalog #Путь к SQL файлам миграций, classpath: - искать в ресурсах проекта
    validate-on-migrate: true #Это гарантирует, что Flyway проверяет целостность миграций при запуске.
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: photocatalog  # ← КЛЮЧЕВОЕ ИЗМЕНЕНИЕ!
        #Hibernate по умолчанию ищет таблицы в схеме public
        #Ваши таблицы были созданы в схеме photocatalog (это указано в Flyway: schemas: photocatalog)
        #Без указания default_schema: photocatalog Hibernate не мог найти таблицу photos, потому что искал её в public.photos, а не в photocatalog.photos
        jdbc:
          lob:
            non_contextual_creation: true
      show-sql: true  # Включите для отладки
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    generate-ddl: true
    open-in-view: false
server:
  port: 8282